<div class="container bordered shadow">
    <p>
        There are 274 defined coding languages, according to the TIOBE Index. 
        The list is based on the function and notability of a language, 
        and other sources place the number of coding languages much higher. 
        Anyone can create a programming language, so there are thousands of languages out there that just aren’t used enough to be significant.
        To get a good idea of the number of coding languages actually in use, we can turn to GitHub,
        a popular software development platform. This site hosts open source projects that are written in over 300 different languages, 
        with the most popular languages being JavaScript, Python, and Java. Some of these languages are traditional programming languages, 
        while others are known as scripting languages.
        
        <a routerLink="/Home">Back To Home</a>
    </p>
</div>