<input type="checkbox" id="check">
<label for="check">
    <i class="material-symbols-outlined" id="btn">menu</i>
    <i class="material-symbols-outlined" id="cancel">close</i>
</label>

<div class="sidebar">
   
    <ul>
        <li class="color"><a routerLink="/WelcomePage"><i class="material-symbols-outlined color">home</i> Home</a></li>
        <li class="color"><a routerLink="/Home"><i class="material-symbols-outlined color">home</i> DashBoard</a></li>
        <li class="color"><a routerLink="/Login"><i class="material-symbols-outlined color">login </i>Login</a></li>
        <li class="color"><a routerLink="/Registration"><i class="material-symbols-outlined color">app_registration</i>Registration</a></li>
        <li class="color"><a routerLink="/About"><i class="material-symbols-outlined color"> info</i>About</a></li>
    </ul>
</div>
<section>
    <router-outlet></router-outlet>
</section>





